/* NEO Dark Forest Variables */

/* Transition
-------------------------- */
$--all-transition: all .3s cubic-bezier(.645,.045,.355,1) !default;
$--fade-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) !default;
$--fade-linear-transition: opacity 200ms linear !default;
$--md-fade-transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1), opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) !default;
$--border-transition-base: border-color .2s cubic-bezier(.645,.045,.355,1) !default;
$--color-transition-base: color .2s cubic-bezier(.645,.045,.355,1) !default;

/* Colors
-------------------------- */
$--color-white: #fff !default;
$--color-black: #000 !default;

$--color-primary: #FA7623 !default;//主色
$--color-link: #005EF7 !default;//链接、操作
$--color-success: #00A55A !default;//成功、审核通过
$--color-warning: #FF8208 !default;//警告、进程审核
$--color-danger: #CC1414 !default;//错误、不通过
$--color-disabled: #DFDFDF !default;//不可用

$--color-text-primary: #252525 !default;//重要文字
$--color-text-base: #666666 !default;//基础文字
$--color-text-auxiliary: #999999 !default;//请输入，辅助文字
$--color-text-remarks: #C5C5C5 !default;//备注文字
$--color-text-disabled: #AAAAAA !default;//禁用文字

$--color-dividing-line:#EDEDED !default;//分割线
$--color-background-large-area: #FCFCFC !default;//背景颜色（大面积）
$--color-background-small-area: #F6F6F6 !default;//背景颜色（小面积）

/* Font
-------------------------- */
$--font-size-title-1: 24px !default;
$--font-size-title-2: 18px !default;
$--font-size-title-3: 16px !default;
$--font-size-base: 14px !default;
$--font-size-small: 12px !default;

/* z-index
-------------------------- */
$--index-normal: 1 !default;
$--index-top: 1000 !default;
$--index-popper: 2000 !default;

/* Border
-------------------------- */
$--border-width-base: 1px !default;
$--border-style-base: solid !default;
$--border-color-base: $--color-primary !default;
$--border-color-stroke: #666666 !default;
$--border-base: $--border-width-base $--border-style-base $--border-color-base !default;
$--border-radius-base: 4px !default;
$--border-radius-small: 2px !default;
$--border-radius-circle: 100% !default;

/* Button
-------------------------- */
$--button-font-size: 14px !default;
$--button-border-radius: $--border-radius-small !default;
$--button-padding-vertical: 12px !default;
$--button-padding-horizontal: 30px !default;

$--button-large-font-size: 20px !default;
$--button-large-border-radius: $--border-radius-base !default;
$--button-large-padding-vertical: 17px !default;
$--button-large-padding-horizontal: 30px !default;

$--button-small-font-size: 12px !default;
$--button-small-border-radius: $--border-radius-base !default;
$--button-small-padding-vertical: 8px !default;
$--button-small-padding-horizontal: 30px !default;

//描边按钮
//主按钮
$--button-default-border: $--color-primary !default;
$--button-default-fill: $--color-white !default;
$--button-default-color: $--color-primary !default;

//次级按钮
$--button-stroke-border: $--border-color-stroke !default;
$--button-stroke-fill: $--color-white !default;
$--button-stroke-color: $--color-text-primary !default;

//描边禁用
$--button-stroke-disabled-border: $--color-disabled !default;
$--button-stroke-disabled-color: $--color-text-disabled !default;
$--button-stroke-disabled-fill: $--color-white !default;

//填色按钮
//主按钮
$--button-primary-border: $--color-primary !default;
$--button-primary-color: $--color-white !default;
$--button-primary-fill: $--color-primary !default;

//成功按钮
$--button-success-border: $--color-success !default;
$--button-success-color: $--color-white !default;
$--button-success-fill: $--color-success !default;

//警告按钮
$--button-warning-border: $--color-warning !default;
$--button-warning-color: $--color-white !default;
$--button-warning-fill: $--color-warning !default;

//危险按钮
$--button-danger-border: $--color-danger !default;
$--button-danger-color: $--color-white !default;
$--button-danger-fill: $--color-danger !default;

//填色禁用
$--button-disabled-border: $--color-disabled !default;
$--button-disabled-color: $--color-white !default;
$--button-disabled-fill: $--color-disabled !default;

$--button-hover-tint-percent: 20% !default;
$--button-active-shade-percent: 10% !default;

/* Breadcrumb
-------------------------- */
$--breadcrumb-separator-color:$--color-text-base !default;
$--breadcrumb-link-color:$--color-text-base !default;
$--breadcrumb-color:$--color-text-primary !default;

/* Tabs
-------------------------- */
$--tabs-text-color:$--color-text-primary !default;
$--tabs-dividing-line:#DEDEDE !default;

/* checkbox
-------------------------- */
$--checkbox-unchecked-border-color:#CCCCCC !default;

/* Input
-------------------------- */
$--input-font-size: $--font-size-base !default;
$--input-color: $--color-text-primary !default;
$--input-width: 238px !default;
$--input-height: 40px !default;
$--input-border: 1px solid #B8CADD !default;
$--input-border-radius: $--border-radius-base !default;
$--input-border-color-hover: #005EA7 !default;
$--input-fill: $--color-white !default;
$--input-fill-disabled: $--color-white !default;
$--input-color-disabled: $--color-disabled !default;
$--input-icon-color: $--color-text-auxiliary !default;
$--input-placeholder-color: $--color-text-auxiliary !default;
$--input-max-width: 314px !default;

$--input-hover-border: #005EA7 !default;
$--input-clear-hover-color: $--color-text-auxiliary !default;

$--input-focus-border: #005EA7 !default;
$--input-focus-fill: $--color-white !default;

$--input-disabled-fill: $--color-white !default;
$--input-disabled-border: #DDDDDD !default;
$--input-disabled-color: $--color-disabled !default;
$--input-disabled-placeholder-color: $--color-disabled !default;

$--input-medium-font-size: 14px !default;
$--input-medium-height: 36px !default;

$--input-small-font-size: 13px !default;
$--input-small-height: 32px !default;

$--input-mini-font-size: 12px !default;
$--input-mini-height: 28px !default;

/* LinkageSelectbox
-------------------------- */
$--linkage-selectbox-color:$--color-text-primary !default;
$--linkage-selectbox-border-color:#CCCCCC !default;



/* Break-point
--------------------------*/
$--sm: 768px !default;
$--md: 992px !default;
$--lg: 1200px !default;
$--xl: 1920px !default;

$--breakpoints: (
  'xs' : (max-width: $--sm),
  'sm' : (min-width: $--sm),
  'md' : (min-width: $--md),
  'lg' : (min-width: $--lg),
  'xl' : (min-width: $--xl)
);

$--breakpoints-spec: (
  'xs-only' : (max-width: $--sm - 1),
  'sm-and-up' : (min-width: $--sm),
  'sm-only': "(min-width: #{$--sm}) and (max-width: #{$--md} - 1)",
  'sm-and-down': (max-width: $--md - 1),
  'md-and-up' : (min-width: $--md),
  'md-only': "(min-width: #{$--md}) and (max-width: #{$--lg } - 1)",
  'md-and-down': (max-width: $--lg - 1),
  'lg-and-up' : (min-width: $--lg),
  'lg-only': "(min-width: #{$--lg}) and (max-width: #{$--xl } - 1)",
  'lg-and-down': (max-width: $--xl - 1),
  'xl-only' : (min-width: $--xl),
);
